.dlaN, .uwagi, .wstepne {
    border: solid 0.5em yellow;
    padding: .2em;
    margin-top: 1em;
}

.cwiczenie {
    border: double 0.5em blue;
    padding: .2em;
    margin-top: 1em;
}

pre {
    margin-left: 1.5em;
    padding-left: 0.5em;
    border-left: solid thick ;
}

table {
    border-collapse: collapse;
}

table th {
    padding-left: 0.3em;
    padding-right: 0.3em;
}

table td {
    border: solid thin;
    padding: 0.2em;
}

/* Syntax higlighting. Adapted from Hugo bw theme. */
/* Other */ .chroma .x {  }
/* Error */ .chroma .err {  }
/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
/* LineHighlight */ .chroma .hl { display: block; width: 100%; }
/* LineNumbersTable */ .chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em; }
/* LineNumbers */ .chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em; }
/* Keyword */ .chroma .k { font-weight: bold }
/* KeywordConstant */ .chroma .kc { font-weight: bold }
/* KeywordDeclaration */ .chroma .kd { font-weight: bold }
/* KeywordNamespace */ .chroma .kn { font-weight: bold }
/* KeywordPseudo */ .chroma .kp {  }
/* KeywordReserved */ .chroma .kr { font-weight: bold }
/* KeywordType */ .chroma .kt {  }
/* Name */ .chroma .n {  }
/* NameAttribute */ .chroma .na {  }
/* NameBuiltin */ .chroma .nb {  }
/* NameBuiltinPseudo */ .chroma .bp {  }
/* NameClass */ .chroma .nc { font-weight: bold }
/* NameConstant */ .chroma .no {  }
/* NameDecorator */ .chroma .nd {  }
/* NameEntity */ .chroma .ni { font-weight: bold }
/* NameException */ .chroma .ne { font-weight: bold }
/* NameFunction */ .chroma .nf {  }
/* NameFunctionMagic */ .chroma .fm {  }
/* NameLabel */ .chroma .nl {  }
/* NameNamespace */ .chroma .nn { font-weight: bold }
/* NameOther */ .chroma .nx {  }
/* NameProperty */ .chroma .py {  }
/* NameTag */ .chroma .nt { font-weight: bold }
/* NameVariable */ .chroma .nv {  }
/* NameVariableClass */ .chroma .vc {  }
/* NameVariableGlobal */ .chroma .vg {  }
/* NameVariableInstance */ .chroma .vi {  }
/* NameVariableMagic */ .chroma .vm {  }
/* Literal */ .chroma .l {  }
/* LiteralDate */ .chroma .ld {  }
/* LiteralString */ .chroma .s { font-style: italic }
/* LiteralStringAffix */ .chroma .sa { font-style: italic }
/* LiteralStringBacktick */ .chroma .sb { font-style: italic }
/* LiteralStringChar */ .chroma .sc { font-style: italic }
/* LiteralStringDelimiter */ .chroma .dl { font-style: italic }
/* LiteralStringDoc */ .chroma .sd { font-style: italic }
/* LiteralStringDouble */ .chroma .s2 { font-style: italic }
/* LiteralStringEscape */ .chroma .se { font-weight: bold; font-style: italic }
/* LiteralStringHeredoc */ .chroma .sh { font-style: italic }
/* LiteralStringInterpol */ .chroma .si { font-weight: bold; font-style: italic }
/* LiteralStringOther */ .chroma .sx { font-style: italic }
/* LiteralStringRegex */ .chroma .sr { font-style: italic }
/* LiteralStringSingle */ .chroma .s1 { font-style: italic }
/* LiteralStringSymbol */ .chroma .ss { font-style: italic }
/* LiteralNumber */ .chroma .m {  }
/* LiteralNumberBin */ .chroma .mb {  }
/* LiteralNumberFloat */ .chroma .mf {  }
/* LiteralNumberHex */ .chroma .mh {  }
/* LiteralNumberInteger */ .chroma .mi {  }
/* LiteralNumberIntegerLong */ .chroma .il {  }
/* LiteralNumberOct */ .chroma .mo {  }
/* Operator */ .chroma .o {  }
/* OperatorWord */ .chroma .ow { font-weight: bold }
/* Punctuation */ .chroma .p {  }
/* Comment */ .chroma .c { font-style: italic }
/* CommentHashbang */ .chroma .ch { font-style: italic }
/* CommentMultiline */ .chroma .cm { font-style: italic }
/* CommentSingle */ .chroma .c1 { font-style: italic }
/* CommentSpecial */ .chroma .cs { font-style: italic }
/* CommentPreproc */ .chroma .cp {  }
/* CommentPreprocFile */ .chroma .cpf {  }
/* Generic */ .chroma .g {  }
/* GenericDeleted */ .chroma .gd {  }
/* GenericEmph */ .chroma .ge { font-style: italic }
/* GenericError */ .chroma .gr {  }
/* GenericHeading */ .chroma .gh { font-weight: bold }
/* GenericInserted */ .chroma .gi {  }
/* GenericOutput */ .chroma .go {  }
/* GenericPrompt */ .chroma .gp { font-weight: bold }
/* GenericStrong */ .chroma .gs { font-weight: bold }
/* GenericSubheading */ .chroma .gu { font-weight: bold }
/* GenericTraceback */ .chroma .gt {  }
/* GenericUnderline */ .chroma .gl {  }
/* TextWhitespace */ .chroma .w {  }
