body {
    max-width: 1000px;
    margin: 40px auto;
    padding: 0 10px;
    font: 18px/1.75 Liberation Sans, Arimo, Helvetica, Arial;
    color: #444;
    background-color: #efefef;
}

.dlaN, .uwagi, .wstepne {
    border-radius: 15px;
    background-color: #edc;
    padding: 15px;
    margin-top: 1em;
}

.cwiczenie {
    border-radius: 15px;
    background-color: #cde;
    padding: 15px;
    margin-top: 1em;
}

.odpowiedz {
    opacity: 0;
    font-style: italic;
}

.odpowiedz:hover {
    opacity: 1;
}

pre {
    margin-left: 1.5em;
    padding-left: 0.5em;
    border-left: solid thick;
    font: 18px/1.35 monospace;
    white-space: pre-wrap;
}

table {
    border-collapse: collapse;
}

table th {
    padding-left: 0.3em;
    padding-right: 0.3em;
}

table td {
    border: solid thin;
    padding: 0.2em;
}

a {
    color: #246;
}

a:hover {
    color: #468;
}
