<section class="codegrading">
<h2 id="zasady-oceniania-styl-kodu">Zasady oceniania: styl kodu</h2>
<p><strong>UWAGA, to laboratorium jest trochę inaczej oceniane od poprzednich, będziemy brali pod uwagę jakość i poprawność kodowania, Państwa kody zostaną dokładnie sprawdzone po zajęciach, szczegóły poniżej.</strong></p>
<p><em>Rozkład punktów z tego laboratorium to 8 za wejściówkę, 17 za postępy wykonania zadania i do -10 punktów za poprawność i styl kodowania.</em> W szczególności będzie ujemnie punktowane:</p>
<ul>
<li>niesprawdzanie błędów funkcji systemowych i bibliotecznych</li>
<li>niezwalnianie zasobów systemowych</li>
<li>funkcje dłuższe niż 40 linii</li>
<li>nieuzasadnione zmienne globalne</li>
<li>zaszyte w programie stałe liczbowe</li>
<li>użycie niebezpiecznych funkcji takich jak np.: sprintf i gets, czy scanf z formatem %s (przepełnienie bufora)</li>
<li>tam gdzie wystąpi obsługa sygnału dodatkowo:
<ul>
<li>brak restartowania funkcji przerwanych przed wykonaniem (błąd EINTR)</li>
<li>brak wznawiania funkcji przerwanych w trakcie (sleep, nanosleep, read. write)</li>
<li>umieszczanie logiki programu w funkcji obsługi sygnału, w szczególności jeśli ta logika na dłużej blokuje główny program</li>
</ul></li>
</ul>
</section>
