name: Deploy Hugo Site

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: self-hosted
    environment: production
    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          submodules: recursive
          lfs: true

      # Checkout action bug: https://github.com/actions/checkout/pull/1392
      - name: Git LFS Pull
        run: git lfs pull

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: '0.140.2'
          extended: true

      - name: Build Hugo Site
        run: hugo --cleanDestinationDir

      - name: Deploy to Server
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_KNOWN_HOSTS }}" > ~/.ssh/known_hosts
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          rsync -avz --delete public/ ${{ secrets.SSH_USERNAME }}@${{ secrets.SSH_HOST }}:public_html